$color1: #e46023;
$font: 'Montserrat', sans-serif;



.row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  background-color: black;
  transition: background-color 0.5s ease;
}


h1 {
  font-family:$font;
  color: white;
  margin-top: 30px;
  font-size: 40px;
  letter-spacing: 1.5px;
  text-align: center;
}

p { margin: 0; }

.ad-statement-1 {
  position: absolute;
  font-family: $font;
  bottom: 90%;
  right: -50%;
  color: white;
  font-size: 20px;
  text-align: center;
  transform: rotate(25deg);
  transform-origin: left bottom;
  white-space: nowrap;
  line-height: 1;
  letter-spacing: 1.5px;
}

.circle1 {
  background-color: $color1;
  min-width: 400px;
  min-height: 400px;
  border-radius: 50%;
  margin-top: 100px;
  position: relative; /* Sets the position to relative, allowing absolute positioning of child elements */
  transition: background-color 0.3s ease; /* Adds a transition effect for background-color changes, lasting 0.3 seconds */
}


.btn {
  /* padding: 8px 250px; */
  width: 180px;
  font-family: $font;
  height:60px;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.9px;
  border: 1px solid white;
  outline: none;
  border-radius: 4px;
  position: absolute;
  top: 650px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  color: white;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* transition: background-color 0.3s ease, color 0.3s ease; */
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: black;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
  font-family: $font;
}

.btn:hover span {
  color: grey;
}

  .star1, .star3, .star4, .star5, .star6 {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
  }

  .star2 {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  animation: rotate 10s linear infinite;
}

.star1 { width: 30px; height: 30px; top: 140px; left: 260px; }
.star2 { width: 35px; height: 35px; top: 400px; left: 50%; transform-origin: -150px; }
.star3 { width: 10px; height: 10px; top: 200px; left: 200px; }
.star4 { width: 10px; height: 10px; top: 140px; left: 500px; }


@keyframes rotate {
  0% { transform: rotate(0deg) translateX(150px) rotate(0deg); }
  100% { transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@media (max-width: 767px) {
  .column {
    min-width: 100%;
  }
  .circle1 {
    margin-top: 100px;
    min-width: 350px;
    min-height: 350px;
  }
  .btn {
    /* padding: 8px 100px; */
    font-size: 10px;
    top: 580px;
  }
  .ad-statement-1 {
    font-size: 12px;
    bottom: 70%;
    right: -20%;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .column {
    min-width: 100%;
    height: auto;
  }
  .circle1 {
    margin-top: 100px;
  }
  .ad-statement-1 {
    font-size: 20px;
  }

}
