<p class="reset" style="color: green"><%= notice %></p>
<div id="planets-container" data-controller="hover-circle">
  <div class="banner index-banner">
  <div class="banner-content index-banner-content">
    <div class="circle-orange" data-hover-circle-target="circle">
      <div class="text index-text"><h1></h1>Planet_Rental.</div>
    </div>
    <%= link_to "Add a Planet", new_planet_path, :class => "create-planet-btn" %>
  </div>
  </div>
  <div class="container index-container">
  <div class="star-container">
    <div class="star new-star1"></div>
    <div class="star new-star2"></div>
    <div class="star new-star3"></div>
    <div class="star new-star4"></div>
    <div class="star new-star5"></div>
    <div class="star new-star6"></div>
    <div class="star new-star7"></div>
    <div class="star new-star8"></div>
    <div class="star new-star9"></div>
  </div>
    <div id="planets" class="row">
      <% @planets.each do |planet| %>
        <%= render partial: 'planet', locals: { planet: planet } %>
      <% end %>
    </div>
  </div>
</div>
