<p class="reset" style="color: green"><%= notice %></p>
<div id="planets-container" data-controller="hover-circle">
  <div class="banner index-banner">
  <div class="banner-content index-banner-content">
    <div class="circle-orange" data-hover-circle-target="circle">
      <div class="text index-text"><h1></h1>Planet_Rental</div>
    </div>
    <button class="create-planet-btn"><%= link_to "Add a planet", new_planet_path, :class => "btn-text-create" %></button>
  </div>
  </div>
  <div class="container index-container">
    <div id="planets" class="row">
      <% @planets.each do |planet| %>
        <%= render partial: 'planet', locals: { planet: planet } %>
      <% end %>
    </div>
  </div>
</div>
