<div class="header-circle"><h1>Planet_Rental .</h1></div>
<div class="star1"></div>
      <div class="star2"></div>
      <div class="star3"></div>
      <div class="star4"></div>
      <div class="star5"></div>

<div class="form-container">
<%= render "form", planet: @planet %>
</div>
<br>

<div class="back-link">
  <%= link_to "Back to planets", planets_path %>
</div>
