
<div class="row">
  <div class="column first-column">
    <h1>Planet_Rental .</h1>
    <div class="star1"></div>
    <div class="circle1">
    <p class="ad-statement-1">Rent a celestial body and experience something out of this world</p>
    </div>
  </div>

  <div class="column second-column">
    <div class="circle2">
      <div class="call-to-action">
        <p>Rent a planet.</p>
        <p>Explore the universe...</p>
      </div>
      <a href="#" class="btn">View planets</a>
    </div>
  </div>

  <div class="column third-column">
    <div class="circle3">
    <p class="ad-statement-2">Rent a celestial body and experience something out of this world</p>
    </div>
  </div>
</div>
