
<div class="row">
    <div class="column first-column">
      <h1>Planet_Rental .</h1>
      <div class="circle1"></div>
    </div>

    <div class="column second-column">
    <div class="circle2"></div>
    </div>

    <div class="column third-column">
    <div class="circle3"></div>
  </div>
</div>
