
<div class="row" data-controller="homepage">
    <div class="column" data-homepage-target="column">
      <h1>Planet_Rental .</h1>
      <div class="star1"></div>
      <div class="star2"></div>
      <div class="star3"></div>
      <div class="star4"></div>
      <div class="star5"></div>
      <div class="circle1" data-homepage-target="circle1" data-action="mouseover->homepage#changeColor mouseout->homepage#changeColorBack">
        <p class="ad-statement-1">Rent a celestial body, experience something out of this world</p>
      </div>
      <%= link_to planets_path, class: "btn" do %>
        <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
          <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
          <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
        </svg>
        <span>View planets</span>
      </button>
      <% end %>
      <!-- <a href="#" class="btn">View planets</a> -->
    </div>
  </div>
