<div class="container mt-3">
  <!-- Nav Tabs--->
  <ul class="nav nav-tabs bg-dark text-white d-flex justify-content-center mb-1">
    <!-- Pending Bookings-->
    <li class="nav-item">
      <a class="nav-link active text-white" data-bs-toggle="tab" href="#pending">Pending Bookings</a>
    </li>
    <!-- Current Bookings -->
    <li class="nav-item">
      <a class="nav-link text-white" data-bs-toggle="tab" href="#current">Current Bookings</a>
    </li>
    <!-- Your Planets -->
    <li class="nav-item">
      <a class="nav-link text-white" data-bs-toggle="tab" href="#planets">Your Planets</a>
    </li>
  </ul>
  <!-- Tab Content --->
  <div class="tab-content">
    <!-- Pending -->
    <div class="tab-pane fade show active" id="pending">
      <div class="row">
        <% @bookings.each do |booking| %>
          <% if booking.status == "pending" && booking.planet.present? %>
            <div class="col-sm-4 p-3">
              <%= render "shared/booking-card", booking: booking %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <!-- Current -->
    <div class="tab-pane fade" id="current">
      <div class="row">
        <% @bookings.each do |booking| %>
          <% if booking.date_out > Date.today %>
            <div class="col-sm-4 p-3">
              <%= render "shared/user-booking-card", booking: booking %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <!-- Planets -->
    <div class="tab-pane fade" id="planets">
      <div class="row">
        <% @planets.each do |planet| %>
          <div class="col-sm-6 p-3">
            <%= render "shared/planet-card", planet: planet %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
