// Index page
.create-planet-btn{
  background-color: #191717;
  color: white;
  border: 1px solid white;
  padding: 16px 64px;
  border-radius: 8px;
  margin-bottom: 16px;
  margin-right: 32px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.5s ease;

  &:hover {
    color: #c27338;
    border-color: #c27338;
    transition: all 0.5s ease;
  }
}
