// Index page
.create-planet-btn{
  background-color: #191717;
  color: white;
  border: 1px solid white;
  padding: 16px 64px;
  border-radius: 8px;
  margin-bottom: 16px;
  margin-right: 32px;
  cursor: pointer;
}

.btn-text-create{
  text-decoration: none;
  color: white;
}
