.nav-link.active {
  background-color: #343a40 !important;
  /* dark gray */
  color: #ffc107 !important;
  /* bs-yellow */
}

.list-card {
  border: 1px solid #343a40;
  border-radius: 5px;
  padding: 10px;
}
