.nav-link.active {
  background-color: #343a40 !important;
  /* dark gray */
  color: #ffc107 !important;
  /* bs-yellow */
}

a {
  color: white;
  text-decoration: none;
}


.btn-spacing {
  margin-right: 16px;
}


strong {
  font-weight: 480;
}
