$color1: #e46023;
$white: white;
$black: black;
$font: 'Montserrat', sans-serif;

.btn {
  /* padding: 8px 250px; */
  width: 180px;
  font-family: $font;
  height:60px;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.9px;
  border: 1px solid $white;
  outline: none;
  border-radius: 4px;
  position: absolute;
  top: 650px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  color: $white;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* transition: background-color 0.3s ease, color 0.3s ease; */
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: $white;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: $black;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color:$white;
  font-size: 18px;
  font-weight: 100;
  font-family: $font;
}

.btn:hover span {
  color: grey;
}
