// Import your components CSS files here.
@import "components/alert";
@import "components/avatar";
@import "components/form_legend_clear";
@import "components/navbar";
@import "components/buttons";
@import "components/cards";
@import "components/banners";
@import "components/form";
@import "components/stars";

.container.index-container {
  background-color: transparent;
}

.circle-orange {
  width: 150px;
  height: 150px;
  background-color: #e46023;
  border-radius: 50%;
  overflow: visible;
  display: flex;
  align-items: center;
  transition: background-color 1s ease;
}

.circle-yellow {
  width: 150px;
  height: 150px;
  background-color: #DEAC3D;
  border-radius: 50%;
  overflow: visible;
  display: flex;
  align-items: center;
  transition: background-color 1s ease;
}

.text.index-text {
  margin-left: 32px;
  margin-bottom: 25px;
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 500;
}

@media(max-width: 587px) {
  .text.index-text {
    font-size: 35px;
  }

}
