.flex {
  display: flex;
}

.dropdown-menu,
.dropdown-item,
.navbar-lewagon {
  justify-content: space-between;
  background: black !important;

  a {
    color: white;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#footer .nav-item {
  color: white;
}

.nav-link,
.dropdown-item,
.nav-item,
.navbar-brand .link {
  color: white !important;

  &:hover {
    color: #c27338 !important;
  }
}
.btn.btn-search {
  border: 1px solid white;
  color: white !important;
  margin-right: 5px;

  &:hover {
    color: #DEAC3D  !important;
    border: 1px solid #DEAC3D !important;
  }
}

.square-link {
  width: 40px;
  height: 40px;
  border: 1px solid #e46023;
  display: inline-block;
  padding: 10px;
  background-color: black;
  text-decoration: none;
  position: relative;
}

.square-link .circle-link {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #726A6A;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.5s ease;
}

.square-link:hover .circle-link {
  background-color: white;
  transition: background-color 0.5s ease;
}
