.star1, .star2, .star3, .star4, .star5, .star6, .star7, .star8, .star9 {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.star1 { width: 5px; height: 5px; top: 300px; left: 260px; }
.star2 { width: 8px; height: 8px; top: 600px; left: 100px; }
.star3 { width: 8px; height: 8px; top: 400px; left: 200px; }
.star4 { width: 5px; height: 5px; top: 140px; left: 700px; }
.star5 { width: 5px; height: 5px; top: 210px; left: 430px; }
.star6 { width: 5px; height: 5px; top: 780px; left: 600px; }
.star7 { width: 5px; height: 5px; top: 300px; left: 350px; }
.star8 { width: 5px; height: 5px; top: 600px; left: 800px; }
.star9 { width: 5px; height: 5px; top: 600px; left: 500px; }
