.star1, .star3, .star4, .star5, .star6 {
  background-color: $white;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.star2 {
background-color: $white;
border-radius: 50%;
position: absolute;
z-index: 2;
animation: rotate 10s linear infinite;
}

.star1 { width: 30px; height: 30px; top: 140px; left: 260px; }
.star2 { width: 35px; height: 35px; top: 400px; left: 50%; transform-origin: -150px; }
.star3 { width: 10px; height: 10px; top: 200px; left: 200px; }
.star4 { width: 10px; height: 10px; top: 140px; left: 500px; }
