.star {
  background-color: $white;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.new-star1 { width: 5px; height: 5px; top: 280px; left: 70px; }
.new-star2 { width: 5px; height: 5px; top: 600px; left: 50px; }
.new-star3 { width: 5px; height: 5px; top: 700px; left: 80px; }
.new-star4 { width: 5px; height: 5px; top: 195px; left: 900px; }
.new-star5 { width: 5px; height: 5px; top: 180px; left: 430px; }
.new-star7 { width: 5px; height: 5px; top: 200px; left: 350px; }
.new-star9 { width: 5px; height: 5px; top: 730px; left: 60px; }
