// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/home";
@import "components/dashboard";
@import "components/registration_form";


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main-container {
  flex: 1;
  background-color: #191717;

  .reset {
    all: initial;
  * {
    all: unset;
  }
  display: none;
  }
}

